<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StudentManagementPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>monthlist</servlet-name>
    <servlet-class>controller.admin.monthlylist.GetMonthlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthlist</servlet-name>
    <url-pattern>/admin/view/getmonthlylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getautoid</servlet-name>
    <servlet-class>controller.admin.addstudent.GetAutoId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getautoid</servlet-name>
    <url-pattern>/admin/view/getautoid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>savestudent</servlet-name>
    <servlet-class>controller.admin.addstudent.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savestudent</servlet-name>
    <url-pattern>/admin/view/savestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadstudentimage</servlet-name>
    <servlet-class>controller.admin.addstudent.StudentProfileUploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadstudentimage</servlet-name>
    <url-pattern>/admin/view/uploadstudentimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatestudent</servlet-name>
    <servlet-class>controller.admin.addstudent.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestudent</servlet-name>
    <url-pattern>/admin/view/updatestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get1studentinfo</servlet-name>
    <servlet-class>controller.admin.addstudent.GetStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get1studentinfo</servlet-name>
    <url-pattern>/admin/view/get1studentinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addattendance</servlet-name>
    <servlet-class>controller.admin.attendance.AddAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addattendance</servlet-name>
    <url-pattern>/admin/view/addattendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectattendance</servlet-name>
    <servlet-class>controller.admin.attendance.SelectAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectattendance</servlet-name>
    <url-pattern>/admin/view/selectattendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectattendancelist</servlet-name>
    <servlet-class>controller.admin.attendance.SelectAttendanceList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectattendancelist</servlet-name>
    <url-pattern>/admin/view/selectattendancelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteattendance</servlet-name>
    <servlet-class>controller.admin.attendance.DeleteAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteattendance</servlet-name>
    <url-pattern>/admin/view/deleteattendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectallstudents</servlet-name>
    <servlet-class>controller.admin.attendance.SelectAllStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectallstudents</servlet-name>
    <url-pattern>/admin/view/selectallstudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listcourse</servlet-name>
    <servlet-class>controller.admin.course.GetCourseType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listcourse</servlet-name>
    <url-pattern>/admin/view/listcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listclassincourse</servlet-name>
    <servlet-class>controller.admin.classroom.GetClassInCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listclassincourse</servlet-name>
    <url-pattern>/admin/view/listclassincourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filterlist</servlet-name>
    <servlet-class>controller.admin.studentlist.Getfilterlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filterlist</servlet-name>
    <url-pattern>/admin/view/getfilterlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transcript</servlet-name>
    <servlet-class>controller.student.transcript.Gettranscript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transcript</servlet-name>
    <url-pattern>/user/gettranscript</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>controller.admin.certificate.Getreport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/admin/view/getreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>controller.login.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/actionlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>liststudentresult</servlet-name>
    <servlet-class>controller.student.ListStudentResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liststudentresult</servlet-name>
    <url-pattern>/user/liststudentresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>liststudentclass</servlet-name>
    <servlet-class>controller.student.ListStudentClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liststudentclass</servlet-name>
    <url-pattern>/user/liststudentclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personalstudent</servlet-name>
    <servlet-class>controller.student.StudentPersonal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personalstudent</servlet-name>
    <url-pattern>/user/studentpersonal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatepersonalinfo</servlet-name>
    <servlet-class>controller.student.UpdatePersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepersonalinfo</servlet-name>
    <url-pattern>/user/updatepersonalinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>settinguser</servlet-name>
    <servlet-class>controller.student.UserSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settinguser</servlet-name>
    <url-pattern>/user/usersetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>settingpassword</servlet-name>
    <servlet-class>controller.student.PasswordSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settingpassword</servlet-name>
    <url-pattern>/user/passwordsetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changepassword</servlet-name>
    <servlet-class>controller.student.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepassword</servlet-name>
    <url-pattern>/user/changepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageuserupdate</servlet-name>
    <servlet-class>controller.student.UserUpdateImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageuserupdate</servlet-name>
    <url-pattern>/user/updateuserimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatebgimage</servlet-name>
    <servlet-class>controller.student.UpdateBgImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatebgimage</servlet-name>
    <url-pattern>/user/updatebgimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateuserinfo</servlet-name>
    <servlet-class>controller.student.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuserinfo</servlet-name>
    <url-pattern>/user/updateuserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listscoredetail</servlet-name>
    <servlet-class>controller.student.ListScoreDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listscoredetail</servlet-name>
    <url-pattern>/user/listscoredetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>liststuscoredetail</servlet-name>
    <servlet-class>controller.student.ListStuScoreDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>liststuscoredetail</servlet-name>
    <url-pattern>/user/liststuscoredetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logingout</servlet-name>
    <servlet-class>controller.student.LoingOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logingout</servlet-name>
    <url-pattern>/user/logingout</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>stuloginfilter</filter-name>
    <filter-class>controller.student.LoginValidation</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>stuloginfilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>adminactionlogin</servlet-name>
    <servlet-class>controller.login.AdminActionLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminactionlogin</servlet-name>
    <url-pattern>/admin/adminactionlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogingout</servlet-name>
    <servlet-class>controller.admin.AdminLogingOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogingout</servlet-name>
    <url-pattern>/admin/view/adminlogingout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminusersetting</servlet-name>
    <servlet-class>controller.admin.setting.AdminUserSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminusersetting</servlet-name>
    <url-pattern>/admin/view/adminusersetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminpasswordsetting</servlet-name>
    <servlet-class>controller.admin.setting.AdminPasswordSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpasswordsetting</servlet-name>
    <url-pattern>/admin/view/adminpasswordsetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminchangepassword</servlet-name>
    <servlet-class>controller.admin.setting.AdminChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminchangepassword</servlet-name>
    <url-pattern>/admin/view/adminchangepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdateuserinfo</servlet-name>
    <servlet-class>controller.admin.setting.AdminUpdateUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdateuserinfo</servlet-name>
    <url-pattern>/admin/view/adminupdateuserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdateuserimage</servlet-name>
    <servlet-class>controller.admin.setting.AdminUpdateUserImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdateuserimage</servlet-name>
    <url-pattern>/admin/view/adminupdateuserimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatebgimage</servlet-name>
    <servlet-class>controller.admin.setting.AdminUpdateBgImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatebgimage</servlet-name>
    <url-pattern>/admin/view/adminupdatebgimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetsubjectforscore</servlet-name>
    <servlet-class>controller.admin.scoring.AdminGetSubjectforScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetsubjectforscore</servlet-name>
    <url-pattern>/admin/view/admingetsubjectforscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetclassforscore</servlet-name>
    <servlet-class>controller.admin.scoring.AdminGetClassforScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetclassforscore</servlet-name>
    <url-pattern>/admin/view/admingetclassforscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetspecificstudent</servlet-name>
    <servlet-class>controller.admin.scoring.AdminGetSpecificStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetspecificstudent</servlet-name>
    <url-pattern>/admin/view/admingetspecificstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminsavestudentscore</servlet-name>
    <servlet-class>controller.admin.scoring.AddStudentScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminsavestudentscore</servlet-name>
    <url-pattern>/admin/view/adminsavestudentscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetnoscorestudent</servlet-name>
    <servlet-class>controller.admin.scoring.GetNoScoreStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetnoscorestudent</servlet-name>
    <url-pattern>/admin/view/admingetnoscorestudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlistgeneration</servlet-name>
    <servlet-class>controller.admin.generation.ListGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlistgeneration</servlet-name>
    <url-pattern>/admin/view/adminlistgeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminaddgeneration</servlet-name>
    <servlet-class>controller.admin.generation.AddGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminaddgeneration</servlet-name>
    <url-pattern>/admin/view/adminaddgeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdategenstatus</servlet-name>
    <servlet-class>controller.admin.generation.UpdateGenStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdategenstatus</servlet-name>
    <url-pattern>/admin/view/adminupdategenstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetupdategeneration</servlet-name>
    <servlet-class>controller.admin.generation.GetUpdateGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetupdategeneration</servlet-name>
    <url-pattern>/admin/view/admingetupdategeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdategeneration</servlet-name>
    <servlet-class>controller.admin.generation.UpdateGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdategeneration</servlet-name>
    <url-pattern>/admin/view/adminupdategeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlistcourse</servlet-name>
    <servlet-class>controller.admin.course.ListCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlistcourse</servlet-name>
    <url-pattern>/admin/view/adminlistcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlistcoursegen</servlet-name>
    <servlet-class>controller.admin.course.ListCourseGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlistcoursegen</servlet-name>
    <url-pattern>/admin/view/adminlistcoursegen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminaddcourse</servlet-name>
    <servlet-class>controller.admin.course.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminaddcourse</servlet-name>
    <url-pattern>/admin/view/adminaddcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetupdatecourse</servlet-name>
    <servlet-class>controller.admin.course.GetUpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetupdatecourse</servlet-name>
    <url-pattern>/admin/view/admingetupdatecourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatecourse</servlet-name>
    <servlet-class>controller.admin.course.UpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatecourse</servlet-name>
    <url-pattern>/admin/view/adminupdatecourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>countclass</servlet-name>
    <servlet-class>controller.admin.dashboard.CountClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countclass</servlet-name>
    <url-pattern>/admin/view/countclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>countstudent</servlet-name>
    <servlet-class>controller.admin.dashboard.Countstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countstudent</servlet-name>
    <url-pattern>/admin/view/countstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>countstaff</servlet-name>
    <servlet-class>controller.admin.dashboard.CountStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countstaff</servlet-name>
    <url-pattern>/admin/view/countstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>countuser</servlet-name>
    <servlet-class>controller.admin.dashboard.CountUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countuser</servlet-name>
    <url-pattern>/admin/view/countuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gettopstudent</servlet-name>
    <servlet-class>controller.admin.dashboard.GetTopStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gettopstudent</servlet-name>
    <url-pattern>/admin/view/gettopstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>countadmin</servlet-name>
    <servlet-class>controller.admin.dashboard.Countadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countadmin</servlet-name>
    <url-pattern>/admin/view/countadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newuser</servlet-name>
    <servlet-class>controller.admin.dashboard.Newuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newuser</servlet-name>
    <url-pattern>/admin/view/newstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetsubjectname</servlet-name>
    <servlet-class>controller.admin.subject.GetSubjectName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetsubjectname</servlet-name>
    <url-pattern>/admin/view/admingetsubjectname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetclassname</servlet-name>
    <servlet-class>controller.admin.subject.GetClassName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetclassname</servlet-name>
    <url-pattern>/admin/view/admingetclassname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetinstructorname</servlet-name>
    <servlet-class>controller.admin.subject.GetInstructorName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetinstructorname</servlet-name>
    <url-pattern>/admin/view/admingetinstructorname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlistsubjectselection</servlet-name>
    <servlet-class>controller.admin.subject.ListSubjectSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlistsubjectselection</servlet-name>
    <url-pattern>/admin/view/adminlistsubjectselection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admininsertsubselection</servlet-name>
    <servlet-class>controller.admin.subject.InsertSubSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admininsertsubselection</servlet-name>
    <url-pattern>/admin/view/admininsertsubselection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetupdatesubselect</servlet-name>
    <servlet-class>controller.admin.subject.GetSubSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetupdatesubselect</servlet-name>
    <url-pattern>/admin/view/admingetupdatesubselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatesubselection</servlet-name>
    <servlet-class>controller.admin.subject.UpdateSubSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatesubselection</servlet-name>
    <url-pattern>/admin/view/adminupdatesubselection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingetlistsubject</servlet-name>
    <servlet-class>controller.admin.subject.GetListSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingetlistsubject</servlet-name>
    <url-pattern>/admin/view/admingetlistsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminaddsubject</servlet-name>
    <servlet-class>controller.admin.subject.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminaddsubject</servlet-name>
    <url-pattern>/admin/view/adminaddsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admingeteditsubject</servlet-name>
    <servlet-class>controller.admin.subject.GetEditSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admingeteditsubject</servlet-name>
    <url-pattern>/admin/view/admingeteditsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatesubject</servlet-name>
    <servlet-class>controller.admin.subject.UpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatesubject</servlet-name>
    <url-pattern>/admin/view/adminupdatesubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatesubjectstatus</servlet-name>
    <servlet-class>controller.admin.subject.UpdateSubjectStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatesubjectstatus</servlet-name>
    <url-pattern>/admin/view/adminupdatesubjectstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listsudentinroom</servlet-name>
    <servlet-class>controller.admin.classroom.ListRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listsudentinroom</servlet-name>
    <url-pattern>/admin/view/listsudentinroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addclass</servlet-name>
    <servlet-class>controller.admin.classroom.AddRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addclass</servlet-name>
    <url-pattern>/admin/view/addclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listclass</servlet-name>
    <servlet-class>controller.admin.classroom.GetActiveRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listclass</servlet-name>
    <url-pattern>/admin/view/listclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tocontrols</servlet-name>
    <servlet-class>controller.admin.classroom.GetRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tocontrols</servlet-name>
    <url-pattern>/admin/view/tocontrols</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getsudentinclass</servlet-name>
    <servlet-class>controller.admin.classroom.GetStudentInRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getsudentinclass</servlet-name>
    <url-pattern>/admin/view/getsudentinclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editclass</servlet-name>
    <servlet-class>controller.admin.classroom.UpdateRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editclass</servlet-name>
    <url-pattern>/admin/view/editclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>savestaff</servlet-name>
    <servlet-class>controller.admin.staffmanage.AddStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savestaff</servlet-name>
    <url-pattern>/admin/view/savestaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getstaff</servlet-name>
    <servlet-class>controller.admin.staffmanage.GetStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getstaff</servlet-name>
    <url-pattern>/admin/view/getstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listallstaff</servlet-name>
    <servlet-class>controller.admin.staffmanage.ListStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listallstaff</servlet-name>
    <url-pattern>/admin/view/listallstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editstaff</servlet-name>
    <servlet-class>controller.admin.staffmanage.UpdateStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editstaff</servlet-name>
    <url-pattern>/admin/view/editstaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadimage</servlet-name>
    <servlet-class>controller.admin.staffmanage.StaffImageUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadimage</servlet-name>
    <url-pattern>/admin/view/uploadimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlistallstudentresult</servlet-name>
    <servlet-class>controller.admin.studentresult.ListAllStudentResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlistallstudentresult</servlet-name>
    <url-pattern>/admin/view/adminlistallstudentresult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listallgeneration</servlet-name>
    <servlet-class>controller.admin.generation.ListGenerationCombo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listallgeneration</servlet-name>
    <url-pattern>/admin/view/listallgeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listallcourse</servlet-name>
    <servlet-class>controller.admin.course.ListCourseCombo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listallcourse</servlet-name>
    <url-pattern>/admin/view/listallcourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listallclass</servlet-name>
    <servlet-class>controller.admin.classroom.ListClassCombo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listallclass</servlet-name>
    <url-pattern>/admin/view/listallclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listallhrdstudent</servlet-name>
    <servlet-class>controller.admin.certificate.ListallHRDstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listallhrdstudent</servlet-name>
    <url-pattern>/admin/view/listallhrdstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatecoustatus</servlet-name>
    <servlet-class>controller.admin.course.ChangeCourseStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatecoustatus</servlet-name>
    <url-pattern>/admin/view/adminupdatecoustatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatestudentstatus</servlet-name>
    <servlet-class>controller.admin.addstudent.UpdateStudentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatestudentstatus</servlet-name>
    <url-pattern>/admin/view/adminupdatestudentstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatestaffstatus</servlet-name>
    <servlet-class>controller.admin.staffmanage.UpdateStaffStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatestaffstatus</servlet-name>
    <url-pattern>/admin/view/adminupdatestaffstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminupdatestudentscore</servlet-name>
    <servlet-class>controller.admin.scoring.UpdateStudentScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminupdatestudentscore</servlet-name>
    <url-pattern>/admin/view/adminupdatestudentscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getscoredetail</servlet-name>
    <servlet-class>controller.student.ScoreDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getscoredetail</servlet-name>
    <url-pattern>/user/getscoredetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allcertificate</servlet-name>
    <servlet-class>controller.admin.allcertificate.GetAllReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allcertificate</servlet-name>
    <url-pattern>/admin/view/getallcertificate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admindeletesubselect</servlet-name>
    <servlet-class>controller.admin.subject.DeleteSelectSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindeletesubselect</servlet-name>
    <url-pattern>/admin/view/admindeletesubselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkscorevalidate</servlet-name>
    <servlet-class>controller.admin.scoring.GetPercentScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkscorevalidate</servlet-name>
    <url-pattern>/admin/view/checkscorevalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkcourseenddate</servlet-name>
    <servlet-class>controller.student.GetCourseEndDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkcourseenddate</servlet-name>
    <url-pattern>/user/checkcourseenddate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getjavascore</servlet-name>
    <servlet-class>controller.admin.scoring.GetJavaScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getjavascore</servlet-name>
    <url-pattern>/admin/view/getjavascore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getkoreanscore</servlet-name>
    <servlet-class>controller.admin.scoring.GetKoreanScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getkoreanscore</servlet-name>
    <url-pattern>/admin/view/getkoreanscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getwebscore</servlet-name>
    <servlet-class>controller.admin.scoring.GetWebScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getwebscore</servlet-name>
    <url-pattern>/admin/view/getwebscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getstujavascore</servlet-name>
    <servlet-class>controller.admin.scoring.GetJavaScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getstujavascore</servlet-name>
    <url-pattern>/user/getstujavascore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getstukoreanscore</servlet-name>
    <servlet-class>controller.admin.scoring.GetKoreanScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getstukoreanscore</servlet-name>
    <url-pattern>/user/getstukoreanscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getstuwebscore</servlet-name>
    <servlet-class>controller.admin.scoring.GetWebScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getstuwebscore</servlet-name>
    <url-pattern>/user/getstuwebscore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getscertificate</servlet-name>
    <servlet-class>controller.student.PrintCertificate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getscertificate</servlet-name>
    <url-pattern>/user/getscertificate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getadmintranscript</servlet-name>
    <servlet-class>controller.admin.transcript.PrintTranscript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getadmintranscript</servlet-name>
    <url-pattern>/admin/view/getadmintranscript</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getlistattendance</servlet-name>
    <servlet-class>controller.admin.attendance.ListStudentAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getlistattendance</servlet-name>
    <url-pattern>/admin/view/getlistattendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getspecificattdetail</servlet-name>
    <servlet-class>controller.admin.attendance.ListSpecificAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getspecificattdetail</servlet-name>
    <url-pattern>/admin/view/getspecificattdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>att</servlet-name>
    <servlet-class>controller.admin.attendance.GetattList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>att</servlet-name>
    <url-pattern>/admin/view/getatt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getnotification</servlet-name>
    <servlet-class>controller.notification.GetNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getnotification</servlet-name>
    <url-pattern>/user/getnotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmessage</servlet-name>
    <servlet-class>controller.message.GetMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmessage</servlet-name>
    <url-pattern>/user/getmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>savemessage</servlet-name>
    <servlet-class>controller.message.SaveMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savemessage</servlet-name>
    <url-pattern>/admin/view/savemessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadimginfo</servlet-name>
    <servlet-class>controller.message.UploadImageInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadimginfo</servlet-name>
    <url-pattern>/admin/view/uploadimginfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get1message</servlet-name>
    <servlet-class>controller.message.Get1Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get1message</servlet-name>
    <url-pattern>/user/get1message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getallmessage</servlet-name>
    <servlet-class>controller.message.GetAllNewMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getallmessage</servlet-name>
    <url-pattern>/user/getallmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmessageinfo</servlet-name>
    <servlet-class>controller.message.GetMessageInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmessageinfo</servlet-name>
    <url-pattern>/user/getmessageinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get1messageinfo</servlet-name>
    <servlet-class>controller.message.GetMessage1Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get1messageinfo</servlet-name>
    <url-pattern>/user/get1messageinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getmessagetitle</servlet-name>
    <servlet-class>controller.message.GetMessageTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmessagetitle</servlet-name>
    <url-pattern>/admin/view/getmessagetitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>messageinfo</servlet-name>
    <servlet-class>controller.message.GetMessage1Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageinfo</servlet-name>
    <url-pattern>/admin/view/messageinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getallmessageadmin</servlet-name>
    <servlet-class>controller.message.GetMessageInfoForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getallmessageadmin</servlet-name>
    <url-pattern>/admin/view/getallmessageadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getattendantdetail</servlet-name>
    <servlet-class>controller.admin.attendance.GetAttendantDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getattendantdetail</servlet-name>
    <url-pattern>/admin/view/getattendantdetail</url-pattern>
  </servlet-mapping>
</web-app>